@media only screen and (min-width: 900px) {
  .hero-title {
    font-size: 7rem;
    line-height: 10rem;
  }

  .sub-heading {
    font-size: 4rem;
  }

  .location {
    font-size: 3rem;
  }
  .about {
    background: linear-gradient(-65deg, #001f2ba8 25%, #ccd2d4aa 25%);
    padding-bottom: 20px;
    margin: 50px 20px;
  }

  .bio {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 30px;
  }

 

  .statement {
    width: 60%;
    margin-left: 350px;
    padding-bottom: 100px;
  }

  .artist-statement {
    padding: 60px;
  }

  .about p,
  .statement p {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .contact-box {
    margin: 100px;
  }

  /*thank you page*/

.thank_you h1 {
  padding: 90px;
  font-size: 9rem;
}
} /*end of media query*/
