/*font family
font-family: 'Allerta Stencil', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/*
#00b8ff
#009bd6
#00719c
#00415a
#001f2b

#193540
#324b55
#4c626a
#66787f
#7f8f95
#99a5aa
#b2bbbf
#ccd2d4
#e5e8e9

#FFFAFA

*/

/* text size adjust */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* box model */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-image: linear-gradient(#001f2b, #00415a, #00719c, #00b8ff);
  margin: 0px;
  padding: 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-wrapper {
  background-color: #00415a;
  font-family: "Allerta Stencil", sans-serif;
  text-shadow: 5px 5px 5px #001f2b;
  filter: drop-shadow(0.5px 4px 2px #001f2b5b);
}

.nav-wrapper > a {
  color: #00719c;
  padding-left: 15px;
}

.sidenav {
  background-color: #00415a;
}

.sidenav li > a {
  color: #e5e8e9;
  font-family: "Allerta Stencil", sans-serif;
  text-shadow: 2px 3px 1px #001f2b29;
}

.brand-logo {
  filter: drop-shadow(2px 2px 1px #001f2b);
}

.hero {
  /*width: 100%;
  max-width: 100%;*/
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/newHero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(0.5px 4px 2px #001f2b5b);
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Allerta Stencil", sans-serif;
  color: #fffafa;
  text-shadow: 5px 5px 5px #001f2b;
}


.hero-title {
  font-size: 2.55rem;
  letter-spacing: 2px;
  line-height: 3.5rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.sub-heading {
  font-size: 1.45rem;
  letter-spacing: 1px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.location {
  font-size: 1.2rem;
  letter-spacing: 1px;
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.about {
  background: linear-gradient(-65deg, #001f2ba8 23%, #ccd2d4aa 23%);
  padding: 20px;
  color: #001f2b;
  margin: 0 10px 10px 10px;
}

.about h1 {
  font-family: "Allerta Stencil", sans-serif;
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 0;
}

.bio-img {
  border-radius: 3px;
  padding: 10px 0 30px 0;
  display: flex;
  justify-content: center;
}

.artist-statement {
  display: flex;
  flex-direction: column;
  background-image: url(../images/bcimage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 20px 30px 20px;
  margin: 10px 10px;
}

.statement {
  background-color: #ccd2d4d9;
  justify-content: center;
  padding: 20px 20px 30px 20px;
  color: #001f2b;
}

.statement h1 {
  font-family: "Allerta Stencil", sans-serif;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
}

.about p,
.statement p {
  text-align: left;
  line-height: 1.5rem;
  text-indent: 15px;
  margin: 0px;
}

.contact-box {
  background-color: #ccd2d4b5;
  padding: 20px 20px 30px 20px;
  font-family: "Allerta Stencil", sans-serif;
  margin: 0 10px 40px 10px;
  display: flex;
  justify-content: center;
  color: #001f2b;
}

.contact-box h1 {
  text-align: center;
}

.btn {
  background-color: #001f2b;
  color: #b2bbbf;
}

.btn:hover {
  background-color: #00b8ff;
}

/* label focus color */
.input-field input[type="text"]:focus + label,
.input-field input[type="email"]:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #00b8ff !important;
}

/* label underline focus color */
.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #00b8ff !important;
  box-shadow: 0 1px 0 0 #00b8ff !important;
}

.material-icons.active {
  color: #00b8ff !important;
}



/* progress bar */
.progress {
  background-color: #001f2b;
}
.progress .indeterminate {
  background-color: #00719c;
}

footer {
  left: 0;
  bottom: 0;
  background-color: #00415a;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
}

footer a {
  padding: 10px;
  color: #00b8ff;
  filter: drop-shadow(0 0 0.75rem #001f2b);
}

/* animation */
#loading {
  -webkit-animation: rotation 4s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  80% {
    transform: translate(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }
  80% {
    transform: translate(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*portfolio*/

.Portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px 0 100px 0;
}

.card {
  height: 350px;
  width: 350px;
  border: 1px solid white;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 3px;
}

.card h5 {
  align-self: flex-end;
  margin-bottom: 10px;
  font-size: 1.25rem;
  text-align: center;
  background-color: #00415aaa;
  width: 100%;
  padding: 10px;
  font-family: "Allerta Stencil", sans-serif;
  color: #fffafa;
  text-shadow: 5px 5px 5px #001f2b;
}

.one {
  background-image: url(../images/castle650x600.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.two {
  background-image: url(../images/queens650x600.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.three {
  background-image: url(../images/brandthemoth650x600.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.four {
  background-image: url(../images/ninkasi650x600.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.five {
  background-image: url(../images/touch650x600.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.six {
  background-image: url(../images/heist650x600.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.seven {
  background-image: url(../images/thanos650x600.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.eight {
  background-image: url(../images/tobe650x600.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nine {
  background-image: url(../images/angst650x600.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ten {
  background-image: url(../images/aesop650x600.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



/*thank you page*/

.thank_you {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.thank_you h1 {
  background: linear-gradient(-60deg, #001f2ba8 35%, #ccd2d4aa 35%);
  color: #001f2b;
  font-family: 'Allerta Stencil', sans-serif;
  border-radius: 3px;
  padding: 60px;
  color: #fffafa;
  text-shadow: 5px 5px 5px #001f2b;
  font-size: 2.5rem;
}
